<div class="books-container mat-elevation-z8">
  <div class="books-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <!-- id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let books"> {{ books.id }} </mat-cell>
    </ng-container>

    <!-- Booktitle Column -->
    <ng-container matColumnDef="bookTitle">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let books">
        <a [routerLink]="['/book', books.id]">
          {{ books.bookTitle }}
        </a>
      </mat-cell>
    </ng-container>

    <!-- cover Column -->
    <ng-container matColumnDef="cover">
      <mat-header-cell *matHeaderCellDef> Cover </mat-header-cell>
      <mat-cell *matCellDef="let books">
        <img class="cover" src="{{books.cover}} " />
      </mat-cell>
    </ng-container>


    <!-- isbn Column -->
    <ng-container matColumnDef="isbn">
      <mat-header-cell *matHeaderCellDef> ISBN </mat-header-cell>
      <mat-cell *matCellDef="let books"> {{ books.isbn }} </mat-cell>
    </ng-container>

    <!-- author Column -->
    <ng-container matColumnDef="author">
      <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
      <mat-cell *matCellDef="let books"> {{ books.author }} </mat-cell>
    </ng-container>

    <!-- issuedDateTime Column -->
    <ng-container matColumnDef="issuedDateTime">
      <mat-header-cell *matHeaderCellDef> Issed Date </mat-header-cell>
      <mat-cell *matCellDef="let books"> {{ books.issuedDateTime | date: 'dd/MM/yyyy' }} </mat-cell>
    </ng-container>

    <!-- renewDateTime Column -->
    <ng-container matColumnDef="renewDateTime">
      <mat-header-cell *matHeaderCellDef> Renew Date </mat-header-cell>
      <mat-cell *matCellDef="let books"> {{ books.renewDateTime | date: 'dd/MM/yyyy' }} </mat-cell>
    </ng-container>


    <!-- issued Column -->
    <ng-container matColumnDef="return">
      <mat-header-cell *matHeaderCellDef> Return </mat-header-cell>
      <mat-cell *matCellDef="let books">
        <button *ngIf="books.issued" mat-raised-button color="primary" (click)="returnBook(books)">Return</button>
      </mat-cell>
    </ng-container>

    <!-- Renew Column -->
    <ng-container matColumnDef="renew">
      <mat-header-cell *matHeaderCellDef> Renew </mat-header-cell>
      <mat-cell *matCellDef="let books">
        <button *ngIf="books.issued" mat-raised-button color="primary" (click)="renewBook(books,books.renewDateTime)">Renew</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
